<main>
  <a href="https://github.com/marko-js/run">
    <img src="./logo.png" alt="Marko Run" class="logo">
  </a>
</main>
style {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  img.logo {
    width: 820px;
  }
}
