a href="https://github.com/marko-js/run"
  img.logo src="./logo.png" alt="Marko Run"

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  img.logo {
    width: 820px;
  }
</style>
